//-------------------------------
// Font
//-------------------------------
@font-main: 'Source Sans Pro';

//-------------------------------
// Typography
//-------------------------------
@base-font-size: 14px;
@base-line-height: 20px;

//-------------------------------
// Colors
//-------------------------------
@primary-accent: #5DA3DF;
@white: #fff;
@black: #000;

//-------------------------------
// Layout
//-------------------------------
@content-padding: 30px;

//-------------------------------
// Animation
//-------------------------------
@transition-duration: 0.3s;