//-------------------------------
// Font
//-------------------------------
@font-main: 'Source Sans Pro';

//-------------------------------
// Typography
//-------------------------------
@base-font-size: 14px;
@base-line-height: 20px;

//-------------------------------
// Colors
//-------------------------------
@primary-blue: #5DA3DF;

//-------------------------------
// Layout
//-------------------------------
@content-padding: 30px;