@menu-width: 280px;
@menu-width-minimized: @header-height + @content-padding * 2;
@menu-speed: 0.1s;

.main, .menu {
  transition: width @menu-speed, left @menu-speed;
}

.menu {
  width: @menu-width;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  overflow: hidden;

  &.menu-minimized {
    width: @menu-width-minimized;

    nav, header h1 {
      opacity: 0;
    }
  }

  nav, header h1 {
    transition: opacity @menu-speed;
  }
}

.main {
  left: @menu-width;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: scroll;

  &.menu-minimized {
    left: @menu-width-minimized;
  }
  // .content-inner {
  //   box-sizing: border-box;
  //   position: absolute;
  //   left: 30px;
  //   bottom: 30px;
  //   top: 80px + 30px;
  //   right: 30px;
  // }
}

.menu {
  header {
    background-color: #222;
    h1 {
      color: #fff;
      text-align: center;
    }
  }
}

.main {
  header {
    background-color: #eee;
    h2 {
      color: #444;
    }
  }
}

.menu, .main {
  header, .menu-toggle i {
    height: @header-height;
    line-height: 30px;
    padding: @content-padding/1.2 @content-padding;
  }

  header {
    h1, h2 {
      margin: 0;
      font-size: 30px;
    }
  }
}