// Libs
@import "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css";
@import "//fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400";

// this goes into modules/ eventually:

.donut-chart {
  position: relative;
  height: 100%;
}

.summary {
  .summary-companies {

    .companies-bars-legend {
      width: 300px;
    }

    .companies-bars {
      left: 300px;
      right: 0;
      position: absolute;
    }

    .companies-donut {
      position: absolute;
      height: 70%;
      width: 100%;
      top: 0;
      left: 0;
    }

    .companies-legend {
      position: absolute;
      height: 30%;
      width: 100%;
      left: 0;
      bottom: 0;
    }
  }
}

.main-content {
  padding: @content-padding;
}