.active-border {
  border-right: 4px solid @primary-accent;
}

.menu {
  nav {
    > ul {
      padding-top: 13px;
      > li {
        &.active { // toplevel items...
          > a {
            .active-border;
            margin-right: 0;
          }
        }
        > a {
          padding-top: 13px;
          padding-bottom: 13px;
        }
      }
    }
    ul {
      li {
        &.active {
          > a {
            color: @primary-accent;
          }
          // ul { //subnav (shown)
          //   // max-height: 200px; // lol, hack for the height animation to work, not awesome
          //   // .transition(all 0.3s);
          //   display: block;
          //   opacity: 1;
          // }
        }

        a {
          font-size: 18px;
          display: block;
          padding-left: 30px;
          padding-right: 30px;
          text-align: right;
          margin-right: 4px;

          &:hover {
            .transition(color @transition-duration);
            color: @primary-accent;
            text-decoration: none;
          }
        }

        ul { // subnav
          .active-border;
          // .transition(all 0.2s);
          // // max-height: 0;
          // opacity: 0;
          display: none; // hide for now... 
          overflow: hidden;

          // &.ng-hide-remove {
          //   .transition(all ease-out 0.3s);
          // }

          // &.ng-hide {
          //   display: block !important;
          //   max-height: 0;
          // }

          // &.ng-hide-add, &.ng-hide-remove {
          //   display: block!important;
          // }

          li {
            a {
              font-size: 14px;
              padding-bottom: 8px;
              padding-top: 8px;
            }
            &:last-child a { padding-bottom: 8px; }
          }
        }
      }
    }
  }
}