.viz-component {
  background-color: #222;
  display: block;
  padding: @content-padding;
  position: relative;
  margin-bottom: @content-padding;

  header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: @content-padding;
    .component-title {
      margin-top: 0;
    }
  }
}