.viz-component {
  background-color: #222;
  display: block;
  padding: @content-padding;
  position: relative;

  header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: @content-padding;
    h2 {
      margin-top: 0;
    }
  }
}